/* Back-end */
#link-companies {
	display: none;
}
#new-tag-companies-desc{
	visibility: hidden;
}
#new-tag-companies-desc:before {
   content: "Add the unique company slug here";
   visibility: visible;
}